name: Apply K8s Manifests

on:
  push:
    branches: ["main"]
  workflow_dispatch: {}

permissions:
  id-token: write
  contents: read

jobs:
  apply:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::122610488782:role/GitHubActionsVehiclesEKSRole
          aws-region: us-east-2

      - name: Configure kubeconfig (EKS)
        run: aws eks update-kubeconfig --region us-east-2 --name vehicles-cluster

      - name: Apply manifests
        run: |
          kubectl apply -f k8s/namespaces/
          kubectl apply -f k8s/apps/vehicles-api/
          kubectl apply -f k8s/ingress/
